<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>版权首页</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="/static/layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="/static/layuiadmin/style/admin.css" media="all">
</head>
<body>

  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
    <div class="layui-card">
      <div class="layui-card-header">检索</div>
      <div class="layui-card-body" style="padding: 15px;">
        <form class="layui-form" action="" lay-filter="search-form">
          <div class="layui-form-item">
            <div class="layui-inline">
              <label class="layui-form-label">项目名称</label>
              <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="proName"  id="proName" class="layui-input">
              </div>
            </div>
            <div class="layui-inline">
              <label class="layui-form-label">关联项目</label>
              <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="glProName"  id="glProName" class="layui-input">
              </div>
            </div>

              <div class="layui-inline">
                  <label class="layui-form-label">即将到期</label>
                  <div class="layui-input-inline" style="width: 100px;">
                      <input type="checkbox" name="jjdq" id="jjdq" jjdq="" lay-skin="switch">
                  </div>
              </div>

            <div class="layui-inline">
              <label class="layui-form-label">到期提醒</label>
              <div class="layui-input-inline" style="width: 100px;">
                <input type="checkbox" lay-filter="dqtx" name="dqtx"  id="dqtx" jjdq="dqtx" lay-skin="switch" lay-text="开启|关闭">
              </div>
            </div>

            <div class="layui-inline" th:if="${session.user.access == '1' || session.user.access == '2'}">
              <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="addBq">录入版权</button>
              </div>
            </div>

            <div class="layui-inline" th:if="${session.user.access == '1' || session.user.access == '2'}">
              <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="addFx">录入发行</button>
              </div>
            </div>

            <div class="layui-inline" th:if="${session.user.access == '1' || session.user.access == '2'}">
              <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="shBq">录入审核</button>
              </div>
            </div>

            <div class="layui-inline" th:if="${session.user.access == '1' || session.user.access == '2'}">
              <div class="layui-input-block">
                <button id="upload" class="layui-btn" type="button"> <i class="layui-icon">&#xe67c;</i>上传Excel</button>
              </div>
            </div>

            <div class="layui-inline" th:if="${session.user.access == '1' || session.user.access == '2'}">
              <div class="layui-input-block">
                <button class="layui-btn"  lay-filter="export" type="button">导出Excel</button>
              </div>
            </div>

          </div>

          <div class="layui-collapse">
            <div class="layui-colla-item">
              <h2 class="layui-colla-title">高级检索</h2>
              <div class="layui-colla-content" style="height: 680px">

                <div class="layui-form-item">
                  <div class="layui-inline">
                    <label class="layui-form-label">权利类型</label>
                    <div class="layui-input-inline" style="width: 100px;">
                      <select name="haveType" id="haveType" lay-filter="bqHaveTypesSelect" >
                        <option  value="" text="" checked></option>
                        <option value="xy">现有权利</option>
                        <option value="ys">原始权利</option>
                        <option value="zsq">转授权</option>
                        <option value="qlywzr">权利义务转让</option>
                        <option value="all">全部</option>
                      </select>
                    </div>
                  </div>
                  <div class="layui-inline">
                    <label class="layui-form-label">项目类型</label>
                    <div class="layui-input-inline" style="width: 100px;">
                      <select name="projectType" id="projectType" lay-filter="lxSelect" >
                        <option  value="" text="" checked></option>
                        <option th:each="lx,lxStat : ${lxs}" th:value="${lx.value}" th:text="${lx.value}"></option>
                      </select>
                    </div>
                  </div>
                  <div class="layui-inline">
                    <label class="layui-form-label">权利名称</label>
                    <div class="layui-input-inline" style="width: 100px;">
                      <select name="qlname" id="qlname" lay-filter="qlmcSelect" >
                        <option  value="" text="" checked></option>
                        <option th:each="lx,lxStat : ${qlmcs}" th:value="${lx.value}" th:text="${lx.value}"></option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="layui-form-item">
                  <label class="layui-form-label">一级权利</label>
                  <div class="layui-input-block" id="yjqlcheck">
                    <input th:each="lx,lxStat : ${qlfxyjs}" yjName="" type="checkbox" name="yjName" th:title="${lx.value}" th:value="${lx.value}"/>
                  </div>

                </div>
                <div class="layui-inline">
                  <label class="layui-form-label">一级权利其他</label>
                  <div class="layui-input-inline" style="width: 500px;">
                    <input type="text" name="yjqt"  id="yjqt" class="layui-input">
                  </div>
                </div>
                <div class="layui-form-item">
                  <label class="layui-form-label">二级权利</label>
                  <div class="layui-input-block" id="ejqlcheck">
                    <input th:each="lx,lxStat : ${qlfxejs}" ejName="" type="checkbox" name="ejName" th:title="${lx.value}" th:value="${lx.value}"/>
                  </div>

                </div>
                <div class="layui-inline">
                  <label class="layui-form-label">二级权利其他</label>
                  <div class="layui-input-inline" style="width: 500px;">
                    <input type="text" name="ejqt"  id="ejqt" class="layui-input">
                  </div>
                </div>
                <div class="layui-form-item">
                  <div class="layui-inline">
                    <label class="layui-form-label">地域</label>
                    <div class="layui-input-inline" >
                      <select name="dy" id="dy" lay-filter="qlmcSelect" >
                        <option  value="" text="" checked></option>
                        <option th:each="lx,lxStat : ${dys}" th:value="${lx.value}" th:text="${lx.value}"></option>
                      </select>
                    </div>
                  </div>
                  <div class="layui-inline">
                    <label class="layui-form-label">地域国家</label>
                    <div class="layui-input-inline" >
                      <input type="text" name="dygj"  id="dygj" class="layui-input">
                    </div>
                  </div>
                  <div class="layui-inline">
                    <label class="layui-form-label">地域细分</label>
                    <div class="layui-input-inline" >
                      <input type="text" name="dyxf"  id="dyxf" class="layui-input">
                    </div>
                  </div>
                </div>

                <div class="layui-form-item">
                  <div class="layui-inline">
                    <label class="layui-form-label">著作权所属公司</label>
                    <div class="layui-input-inline" >
                      <input type="text" name="ssgs"  id="ssgs" class="layui-input">
                    </div>
                  </div>
                  <div class="layui-inline">
                    <label class="layui-form-label">授权方</label>
                    <div class="layui-input-inline" >
                      <input type="text" name="sqf"  id="sqf" class="layui-input">
                    </div>
                  </div>
                  <div class="layui-inline">
                    <label class="layui-form-label">转出权利接受方</label>
                    <div class="layui-input-inline" >
                      <input type="text" name="bsqf"  id="bsqf" class="layui-input">
                    </div>
                  </div>
                </div>

                <div class="layui-form-item">
                  <div class="layui-inline">
                    <label class="layui-form-label">合同名称</label>
                    <div class="layui-input-inline" >
                      <input type="text" name="htmc"  id="htmc" class="layui-input">
                    </div>
                  </div>
                  <div class="layui-inline">
                    <label class="layui-form-label">合同编号</label>
                    <div class="layui-input-inline" >
                      <input type="text" name="htbh"  id="htbh" class="layui-input">
                    </div>
                  </div>
                </div>

                <div class="layui-form-item">
                  <div class="layui-inline">
                    <label class="layui-form-label">权利开始时间</label>
                    <div class="layui-input-inline" >
                      <input type="text" name="qlksks"  id="qlksks" class="layui-input">
                    </div>
                    <div class="layui-form-mid">-</div>
                    <div class="layui-input-inline" >
                      <input type="text" name="qlksjs"  id="qlksjs" class="layui-input">
                    </div>
                  </div>
                  <div class="layui-inline">
                    <label class="layui-form-label">权利结束时间</label>
                    <div class="layui-input-inline" >
                      <input type="text" name="qljsks"  id="qljsks" class="layui-input">
                    </div>
                    <div class="layui-form-mid">-</div>
                    <div class="layui-input-inline" >
                      <input type="text" name="qljsjs"  id="qljsjs" class="layui-input">
                    </div>
                    <div class="layui-input-inline" >
                      <input type="checkbox" name="jsdd" id="jsdd" title="待定" lay-skin="primary" value="1">
                    </div>
                    <div class="layui-input-inline" >
                      <input type="checkbox" name="yj" id="yj" title="永久" lay-skin="primary" value="1">
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="layui-form-item">
            <div class="layui-input-block">
              <button class="layui-btn" lay-submit lay-filter="search">检索</button>
            </div>
          </div>

        </form>
      </div>
    </div>
        <table id="view" lay-filter="view"></table>
<!--    <div class="layui-card">-->
<!--      <div class="layui-card-header">查询结果</div>-->
<!--      <div class="layui-card-body" style="padding: 15px;">-->
<!--          -->
<!--      </div>-->
<!--    </div>-->
      </div>
    </div>
  </div>

  <script src="/static/layuiadmin/layui/layui.js"></script>
  <script th:inline="none">

  layui.config({
    base: '/static/layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'form', 'laydate','jquery','table','upload'], function(){
    var $ = layui.$
    ,admin = layui.admin
    ,element = layui.element
    ,layer = layui.layer
    ,laydate = layui.laydate
    ,form = layui.form,table = layui.table
    ,$=layui.$
    ,upload = layui.upload;
    form.render(null, 'component-form-group');

    laydate.render({
      elem: '#qlksks',
      type: 'date'
    });
    laydate.render({
      elem: '#qlksjs',
      type: 'date'
    });
    laydate.render({
      elem: '#qljsks',
      type: 'date'
    });
    laydate.render({
      elem: '#qljsjs',
      type: 'date'
    });

    //查即将到期
    if(getCookie('alertFlag') == null || getCookie('alertFlag') == '1'){
      $.ajax({
        type: "POST",
        url: "/hc/search/getDq",
        dataType: "text",
        success: function(res){
          if(res > 0){
            layer.alert("目前共有["+res+"]份即将到期（180天内）的版权信息，在该页面勾选【即将到期】选项后即可查询。同时，您可在该页面中选择是否需要该提醒。");
          }
        }
      });
    }

    form.on('switch(dqtx)', function(data){
      console.log(data.elem.checked); //开关是否开启，true或者false
      if(data.elem.checked){
        setCookie("alertFlag","1")
      }else{
        setCookie("alertFlag","0")
      }
    });

    //监听提交
    form.on('submit(search)', function(data){
      var yjName = "";
      var ejName = "";
      $("[yjName]:checked").each(function (i){
          yjName = yjName + $(this).val() + ",";
      });
      $("[ejName]:checked").each(function (i){
        ejName = ejName + $(this).val() + ",";
      });
      var yjqt = $("#yjqt").val();
      var ejqt = $("#ejqt").val();
      if(yjqt != null && yjqt != ''){
        yjName = yjName + yjqt + ",";
      }
      if(ejqt != null && ejqt != ''){
        ejName = ejName + ejqt + ",";
      }
      data.field.yjName = yjName;
      data.field.ejName = ejName;
      data.field.first = '2';

        $("[jjdq]:checked").each(function (i){
            data.field.first = '4';
        });

      table.reload('view', {
        url: '/hc/search/search'
        ,where: data.field //设定异步数据接口的额外参数
        ,page: {
                  curr: 1 //重新从第 1 页开始
                }
      }
      );
      return false;
    });

    function getCookie(name)
    {
      var arr,reg=new RegExp("(^| )"+name+"=([^;]*)(;|$)");

      if(arr=document.cookie.match(reg))

        return unescape(arr[2]);
      else
        return null;
    }
    function setCookie(name,value)
    {
      var Days = 30;
      var exp = new Date();
      exp.setTime(exp.getTime() + Days*24*60*60*1000);
      document.cookie = name + "="+ escape (value) + ";expires=" + exp.toGMTString();
    }
    //初始化表格组件
    table.render({
      elem: '#view'
      ,height: 600
      ,url: '/hc/search/search/' //数据接口
      ,page: true //开启分页
      ,cols: [[ //表头
         {field: 'proId', title: 'id',fixed: 'left',hide:true}
        ,{field: 'formType', title: 'formType',fixed: 'left',hide:true}
        ,{field: 'proName', title: '项目名称', width:180,fixed: 'left',sort:true}
        ,{field: 'oldName', title: '曾用名', width:180,fixed: 'left',sort:true}
        ,{field: 'projectType', title: '类型', width:80,fixed: 'left',sort:true}
        ,{field: 'yjName', title: '一级权利', width:140,sort:true}
        ,{field: 'ejName', title: '二级权利', width:140,sort:true}
        ,{field: 'dy', title: '地域', width:80,sort:true}
        ,{field: 'dyxf', title: '地域细分', width:80,sort:true}
        ,{field: 'startDate', title: '权利开始时间', width:80,sort:true}
        ,{field: 'endDate', title: '权利结束时间', width:80,sort:true}
        ,{field: 'ssgs', title: '著作权所属公司', width:180,sort:true}
        ,{field: 'bz', title: '备注', width:280,sort:true}
      ]]
      ,loading: true
      ,size : 'lg'
      ,where : {first:'1'}
      ,toolbar: true
      ,defaultToolbar: ['filter', 'exports']
      ,autoSort :true
    });

    //监听行单击事件
    table.on('row(view)', function(obj){
      window.open('/hc/show/showOne/'+ obj.data.formType + '/' + obj.data.proId+'/0');
    });

    //监听新增版权
    form.on('submit(addBq)', function(data){
      window.open('/hc/form/show/new/bq');
      return false;
    });

    //监听新增版权
    form.on('submit(shBq)', function(data){
      window.open('/hc/search/indexSh');
      return false;
    });

    //监听新增发行
    form.on('submit(addFx)', function(data){
      window.open('/hc/form/show/new/fx');
      return false;
    });

    //上传
      upload.render({
      elem: '#upload' //绑定元素
      ,url: '/hc/import/import' //上传接口
      ,acceptMime:'application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'
      ,exts:'xls|xlsx'
      ,done: function(res){
        layer.alert("上传成功。")
      }
      ,error: function(){
        layer.alert("请求异常。")
      },progress: function(n, elem){
        var percent = n + '%' //获取进度百分比
        element.progress('demo', percent); //可配合 layui 进度条元素使用
        console.log(elem); //得到当前触发的元素 DOM 对象。可通过该元素定义的属性值匹配到对应的进度条。
      }
    });

  });
  </script>
</body>
</html>
